.parallax_3 {
    background-image: url('../public/experienceBackground.jpg');
    /* Set a specific height */
    min-height: 700px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 200;
}

.line {
    border-bottom: 3px solid #d9c791;
    position: relative;
    bottom: 468px;
    transform: rotate(90deg) scale(0.7);
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.description {
    letter-spacing: 0.05em;
    font-weight: bold;
    color: white;
}

.exContainerR {
    margin-right: 10px !important;
    max-width: 70% !important;
}

.exContainerL {
    margin-left: 10px !important;
    max-width: 70% !important;
}

.point {
    width: 10px ;
    height: 10px ;
    position: relative;
    z-index: 999;
}