.parallax_2 {
    background-image: url('../public/back.png');
    /* Set a specific height */
    min-height: 700px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 200;
}

.animate__animated.animate__backInUp {
    --animate-duration: 1s;
  }
