.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content {
  padding: 20px 0 20px 0;
  min-height: 500px;
}

hr {
  height: 5px !important;
  border-width: 0 !important;
  background-color: #b4a167;
}

section > div {
  min-height: 700px;
}

.padding-50 {
  padding: 50px 0 50px 0;
}

.margin_bottom_25 {
    margin-bottom: 25px;
}
.font_0 {
  font: normal normal normal 65px/1.4em lulo-clean-w01-one-bold, sans-serif;
  color: #FFFFFF;
}

.font_1 {
  font: normal normal normal 16px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
  color: #CCCCCC;
}

.font_2 {
  font: normal normal normal 50px/1.4em avenir-lt-w01_85-heavy1475544, sans-serif;
  color: #00D646;
}

.font_3 {
  font: normal normal normal 42px/1.4em lulo-clean-w01-one-bold, sans-serif;
  color: #FFFFFF;
}

.font_4 {
  font: normal normal normal 40px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
  color: #FFFFFF;
}

.font_5 {
  font: normal normal normal 24px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
  color: #FFFFFF;
}

.font_6 {
  font: normal normal normal 20px/1.4em avenir-lt-w01_85-heavy1475544, sans-serif;
  color: #00D646;
}

.font_7 {
  font: normal normal normal 16px/1.4em avenir-lt-w01_85-heavy1475544, sans-serif;
  color: #d9c791;
}

.font_8 {
  font: normal normal normal 15px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
  color: #BEC7D5;
}

.font_9 {
  font: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
  color: #BEC7D5;
}

.font_10 {
  font: normal normal normal 12px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
  color: #CCCCCC;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}